@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-3">
     <header>
        <h1>Välkommen till Hitta Hem</h1>
     </header>
    </div>
  </div>
</div>

</body>

