@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/new-layout.css"/>
    
</head>
<body>

<div class="container-l">
  <div class="row">
    <div class="col-md-4">
     <header>
        <h1>Välkommen till Hitta Hem</h1>
     </header>
     <content class="row height d-flex justify-content-center align-items-center">
        <div class="search"><input type="text" class="form-control" placeholder="Sök plats">
            <button class="btn">Sök</button> </div>
     </content>
    </div>
    <div class="col-md-8">
      <img src="/lib/Image/img.start2.jpg" class="rounded" alt="Image start">
    </div>
  </div>
</div>
</body>


