
.text-header {
    color: #783937FF;
}

.img-frontpage {
    visibility: hidden;
}

@media (min-width: 768px) {
    .img-frontpage {
    visibility: visible;
    }
}



img {
    max-width: 100%;
    height: auto;
}
/*.height {
    height: 100vh
}*/

.search {
    position: relative;
   /* box-shadow: 0 0 40px rgba(51, 51, 51, .1)*/
}

search input {
   height: 60px;
   text-indent: 25px;
   border: 2px solid #783937FF
}

.search input:focus {
        box-shadow: none;
        border: 2px solid #783937FF;
}
/*.search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px
}*/

.search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: fit-content;
        width: 100px;
        background: #783937FF;
}


