html {
  font-size: 16px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: #783937FF;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
    nav-item {
        align-items: end;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
        color: #783937FF;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Georgia;
  text-align: center;
}

/*.text-dark {
    color: #783937FF;
}*/

/*Använd text-header för alla rubriker */
.text-header {
    color: #783937FF;
}
/*Kan bli fel på alla andra bilder*/
img {
    max-width: 100%;
    height: auto;
} 

.img-frontpage {
    visibility: hidden;
}

@media (min-width: 768px) {
    .img-frontpage {
    visibility: visible;
    }
}

.search {
    position: relative;
 box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

search input {
   height: 60px;
   text-indent: 25px;
   border: 2px solid #783937FF
}

.search input:focus {
        box-shadow: none;
        border: 2px solid #783937FF;
}
.search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px
}

.search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: fit-content;
        width: 100px;
        background: #783937FF;
}





