@model HittaHemEntityModels.Home

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Home</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomAmount" class="control-label"></label>
                <input asp-for="RoomAmount" class="form-control" />
                <span asp-validation-for="RoomAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivingArea" class="control-label"></label>
                <input asp-for="LivingArea" class="form-control" />
                <span asp-validation-for="LivingArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UninhabitableArea" class="control-label"></label>
                <input asp-for="UninhabitableArea" class="form-control" />
                <span asp-validation-for="UninhabitableArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GardenArea" class="control-label"></label>
                <input asp-for="GardenArea" class="form-control" />
                <span asp-validation-for="GardenArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildYear" class="control-label"></label>
                <input asp-for="BuildYear" class="form-control" />
                <span asp-validation-for="BuildYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
